body{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.first-section{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    
}
.first-section img {
    width: 100%;
    
}
.top-section h1 {
    font-size: 70px;
    text-align: center;
    color: white;
    padding-top: 150px;
    
}
.top-section p {
    font-size: 20px;
    text-align: center;
    color: white;
    
    
}
.btn{
    background-color: tomato;
    padding: 20px 35px;
    color: white;
    font-weight: 600px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 850px;
    
}
.anchor{
    text-decoration: none;
    color: white;
}
.second-section{
    height: 700px;
    
    
    
}
.second-section h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}
.second-section p {
    text-align: center;
    font-size: 18px;
}

.third-section{
    height: 700px;
    
}

.list{
    text-decoration: none;
    list-style: none;
    float: left;
    margin: 35px;
    font-size: 30px;
    font-weight: 700px;
    }
.list-items{
    display: flex;
    justify-content: center;
}
.third-section h1{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.donate-group{
    display: flex;
    margin: 10px 100px;
    margin-top: 80px;
}

.forth-section{
    height: 500px;
}
.donate-box{
    display: flex;
    
}
.donate-item{
    box-sizing:content-box;
    margin: 0px 60px;
    box-shadow: 10px 10px 5px  gray;
}
.donate-box h2{
    background-color: cadetblue;
    text-align: center;
}
.fifth-section{
    height: 500px;
   
}
.fifth-section h1{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.submit-area {
    width: 60%;
    margin: auto;
}

.submit-area h1 {
    text-align: center;
    font-size: 45px;
    line-height: 50px;
    color: #333;

    font-weight: 600;
    margin-bottom: 0;

    margin-top: 200px;
}

.submit-area p {
    font-size: 18px;
    padding-right: 100px;
    color: #666;
    margin-bottom: 50px;
    text-align: center;
    padding: 0 150px;
}


.submit-box {
    padding: 80px 30px;
    background: #FFF4D6;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 100px;
}

.submit-box input {
    background: #ddd;
    padding: 15px 40px 15px 15px;
    border: none;
    margin-right: 0px;
}

.submit-box button {
    background: red;
    padding: 15px 40px;
    border: none;
    margin-left: -5px;
    color: #fff;
}
footer{
    height: 250px;
    background-color: rgb(0, 0, 0);
}

